<%= form_for(@recla_institucion) do |f| %>
  <% if @recla_institucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recla_institucion.errors.count, "error") %> prohibited this recla_institucion from being saved:</h2>

      <ul>
      <% @recla_institucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recla_id %><br>
    <%= f.text_field :recla_id %>
  </div>
  <div class="field">
    <%= f.label :institucion_id %><br>
    <%= f.text_field :institucion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
