<h1>Reclamo - Institucion</h1>

<table class="table">
  <thead>
    <tr>
      <t class="active">Recla</th>
      <th class="active">Institucion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recla_institucions.each do |recla_institucion| %>
      <tr>
        <td><%= recla_institucion.recla %></td>
        <td><%= recla_institucion.institucion %></td>
        <td><%= link_to 'Show', recla_institucion %></td>
        <td><%= link_to 'Edit', edit_recla_institucion_path(recla_institucion) %></td>
        <td><%= link_to 'Destroy', recla_institucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recla institucion', new_recla_institucion_path %>
