<p id="notice"><%= notice %></p>

<p>
  <strong>Recla:</strong>
  <%= @recla_institucion.recla %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @recla_institucion.institucion %>
</p>

<%= link_to 'Edit', edit_recla_institucion_path(@recla_institucion) %> |
<%= link_to 'Back', recla_institucions_path %>
