<h1>Institucions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tienda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institucions.each do |institucion| %>
      <tr>
        <td class="active"><%= institucion.tienda %></td>
        <td><%= link_to 'Show', institucion %></td>
        <td><%= link_to 'Edit', edit_institucion_path(institucion) %></td>
        <td><%= link_to 'Destroy', institucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institucion', new_institucion_path %>
